if SHIELD_AVOCADO_RIGHT

config ZMK_KEYBOARD_NAME
    default "Tofu Choc"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_AVOCADO_LEFT || SHIELD_AVOCADO_RIGHT

config ZMK_SPLIT
    default y

config I2Y
    default y

config SSD1306
    default y

endif
